[Unit]
Description=mulitmidicast service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/multimidicast -qqqq

[Install]
WantedBy=multi-user.target
